.card--receipes--container {
  width: 100%;
  max-width: 1200px;
  margin: 4rem auto;

  padding: 15px 20px;
  border-radius: 5px;
}

.card--receipes--container a {
  text-decoration: none;
}

.card--receipes--container h3 {
  font-size: 30px;
  font-weight: 800;
}

.card--receipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card--receipes img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card--receipes h4 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: rgb(86, 149, 86);
}

@media screen and (max-width: 1024px) {
  .card--receipes--container {
    width: 90%;
  }
  .card--receipes {
    width: 80%;
    margin-bottom: 20px;
  }
}

/* For tablets */
@media screen and (max-width: 768px) {
  .card--receipes--container {
    width: 80%;
  }

  .card--receipes h4 {
    font-size: 1rem;
    width: 50%;
  }
}

/* For smartphones - landscape */
@media screen and (max-width: 480px) {
  .card--receipes--container {
    width: 90%;
  }

  .card--receipes h4 {
    font-size: 1rem;
    width: 60%;
  }
}

/* For smartphones - portrait */
@media screen and (max-width: 320px) {
  .card--receipes--container {
    width: 85%;
  }

  .card--receipes h4 {
    font-size: 0.9rem;
    width: 60%;
  }
}
