.card--receipes--container {
  width: 100%;
  max-width: 1200px;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 15px 20px;
  border-radius: 5px;
}

.card--receipes--container a {
  text-decoration: none;
}

.popular--section h3 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: 800;
}

.card--receipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card--receipes img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card--receipes h4 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: rgb(86, 149, 86);
}

@media screen and (max-width: 1024px) {
  .card--receipes--container {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .card--receipes--container {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }

  .card--receipes h4 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .card--receipes--container {
    width: 100%;
    padding: 15px 0;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .card--receipes h4 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .card--receipes--container {
    width: fit-content;
    padding: 15px 0;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .popular--section h3 {
    width: 60%;
  }

  .card--receipes {
    width: 60%;
    box-sizing: border-box;
  }

  .card--receipes img {
    border-radius: 0.25rem 0.25rem 0 0;
  }

  .card--receipes h4 {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
}
