/* General styles */

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
}

h2,
h3,
h4 {
  margin-bottom: 15px;
  color: rgb(21, 101, 54);
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  padding: 0;
  list-style: none;
  color: rgb(60, 162, 123);
  font-size: 25px;
  font-weight: 600;
}

.back-to-homepage {
  display: inline-block;
  font-size: 3rem;
  color: rgb(26, 140, 35);
  text-decoration: none;
  margin-bottom: 20px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.back-to-homepage:hover {
  background-color: rgb(10, 150, 10);
  border: 4px solid rgb(28, 133, 28);
  color: white;
}

/* Card styles */
.detail--card-title {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 2rem;
  margin-bottom: 20px;
  padding: 0 15px;
  border-radius: 7px;
}

.card--image--info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.detail--card-image {
  width: 50%;
  border-radius: 4%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
}

.detail--card--favicons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 45%;
}

/* .detail--card--favicons p {

} */
.info--recipe--summary {
  font-size: 25px;
}

.recipe-info {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #55ab55;
  margin: 0;
  gap: 14px;
  line-height: 45px;
}

.detail--card--favicons span {
  color: rgb(21, 108, 25);
  font-size: 30px;
  font-weight: 600;
}

.info--recipe--container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.info--instructions--container,
.info--ingredients--container h4 {
  font-size: 30px;
}

.info--ingredients--container,
.info--instructions--container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 5px;
}

.info--recipe--ingredients,
.info--recipe--instructions {
  padding-left: 15px;
}

.info--recipe--ingredients::before,
.info--recipe--instructions::before {
  content: "•";
  font-size: bold;
  color: rgb(59, 144, 38);
  position: absolute;
  margin-left: -15px;
}

.info--recipe--ingredients p,
.info--recipe--instructions li {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .detail--card-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .card--image--info {
    flex-direction: column;
  }

  .detail--card--favicons {
    width: 100%;
  }

  .recipe-info {
    font-size: 16px;
    line-height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .detail--card-title {
    font-size: 1.5rem;
  }

  .back-to-homepage {
    font-size: 1.5rem;
  }

  .recipe-info {
    font-size: 14px;
    line-height: 30px;
  }
}
